
body{overflow: hidden;}

section > div#bg_3D{position: absolute;}

article{transition: 800ms;}
article > div.imgWrap{width: 425px; top: 50%; transform: translateY(-50%); left: 20%; position: fixed;}
/* article > div.imgWrap > img{height: 450px; width: 450px;} */
article > div.imgWrap > div{width: 425px; height: 425px;}
article > div.imgWrap > p{text-align: center; margin-top: 20px;}

article > div.txtWrap{width: 600px;position: absolute; right: 15%; top: 20%; pointer-events: none;}
article > div.txtWrap > p.title{
    font-weight: 900; font-size: 70px; margin-bottom: 25px; padding-bottom: 10px; font-family: "Cormorant Garamond";
}
article > div.txtWrap > p.title > span{font-family: "Nanum Myeongjo"; font-size: 40px; margin-right: 10px;}
article > div.txtWrap > span{display: block; height: 1px; width: 550px; border-bottom: 1px solid rgba(58, 58, 58, 0.301); margin-bottom: 50px;}
article > div.txtWrap > p.mainTxt{font-weight: 100; font-size: 21px; line-height: 35px;;}
article > div.txtWrap > p.mainTxt > span{font-weight: 400;}


article.visual{position: fixed;}
article.visual > div#img3D{transition: 800ms; opacity: 1; position: absolute; z-index: -1;}