
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


body.fadeInPage{opacity: 0; animation: opaAni 1200ms linear forwards;}
@keyframes opaAni{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
body.theeye{background-color: #e5e3dd;}
body.subway{background-color: #e5e3dd;}
body.interstellar{background-color: #e5e3dd;}
body.dream{background-color: #e5e3dd;}


div.changeWeb_main{
    position: fixed; width: 100%; height: 0; background-color: #454545; z-index: 9999; top: 0; left: 0; transition: 800ms;
}
div.changeWeb_main_2{
    position: fixed; width: 100%; height: 0; background-color: #e5e3dd; z-index: 9999; top: 0; left: 0; transition: 1200ms;
}
div.changeLab_main{
    position: fixed; width: 100%; height: 0; background-color: #e5e3dd; z-index: 9999; top: 0; left: 0; transition: 800ms;
}
div.changeLab_main_2{
    position: fixed; width: 100%; height: 0; background-color: #000; z-index: 9999; top: 0; left: 0; transition: 1200ms;
}

/* ScrollBar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #454545;
}



/* -- Header -- */
header{position: fixed; z-index: 9999; top: 50px; width: 100%; }
header > a.logo{
    font-size: 30px; margin-left: 60px; display: inline-block; color: #454545 ; text-decoration: none; overflow: hidden; vertical-align: top; font-family: "Cormorant Garamond";
    /* color: #d4c9ab; text-shadow: inset 1px 1px #c1ac71; */
}
header > a.logo > span{ position: absolute;}
header > a.logo > span:nth-child(1){left: 60px;transition: 400ms;}
header > a.logo > span:nth-child(2){left: 80px;transition: 600ms;}
header > a.logo > span:nth-child(3){left: 100px;transition: 800ms;}
header > a.logo > span:nth-child(4){left: 125px;transition: 1000ms;}
header > a.logo:hover span{text-shadow: 4px 4px 4px #4545458b; color: #454545; box-shadow:  0px 0px #c1ac71;}
header > nav.nav{float: right; margin-right: 80px; ;}
header > nav.nav > div.nav_bar{width: 35px; height: 29px; overflow: hidden; float: right; cursor: pointer;}
header > nav.nav > div.nav_bar > span{width: 100%; height: 3px; background-color: #454545; display:block; transition: 500ms;}
header > nav.nav > div.nav_bar > span.nav_bar_1{}
header > nav.nav > div.nav_bar > span.nav_bar_2{margin: 10px 0;}
header > nav.nav > div.nav_bar > span.nav_bar_3{width: 50%; float: right;}
header > nav > div.menu{text-align: right; margin-top: 60px; transition: 800ms; opacity: 0; pointer-events: none;}
header > nav > div.active{opacity: 1; pointer-events: all;}
header > nav > div.menu > ul{}
header > nav > div.menu > ul > li{padding: 10px; position: relative; height: 20px; width:70px;}
header > nav > div.menu > ul > li > a{
    position: absolute; right: 0; 
    color: #454545; text-decoration: none; font-weight: 500; font-size: 20px; transition: 500ms; transform-origin: 50% 0; transform-style: preserve-3d;
}
header > nav > div.menu > ul > li > a::after{
    position: absolute; content: attr(data-txt); color: #454545; border-radius: 5px;transform: rotateX(-90deg);width: 100%; height: 100%; padding: 5px;
    transform-origin: 50% 0; top: 100%; right: 0; display: flex; justify-content: center; align-items: center; background-color: #fdfff5;
}
header > nav > div.menu > ul > li:hover > a{transform: rotateX(90deg)}




/* -- Contact Popup --  */
div.contact_popup{opacity: 0; pointer-events: none; transition: 500ms; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; position: fixed; z-index: 5;}
div.contact_popup > div.contact_bg{position: fixed; width: 100%; height: 100%; background-color: #000;opacity: 0.95; z-index: 6;}
div.contact_popup > div.contact_wrap{
    width: 500px; height: 300px; background-color: #fff; border-radius: 15px;
    z-index: 7; position: fixed; box-shadow:0 0 40px #929292,0 0 40px #929292 ;
}
div.contact_popup > div.contact_wrap > div.logo{float: right; margin: 50px 50px 0 0; transform: translateZ(60px); font-size: 30px; font-family: "Cormorant Garamond";}
div.contact_popup > div.contact_wrap > div.contact_txt{display: inline-block; position: absolute; bottom: 50px; left: 50px; font-size: 16px;}
div.contact_popup > div.contact_wrap > div.contact_txt > p{ line-height: 25px; margin-bottom: 60px; transform: translateZ(80px);}
div.contact_popup > div.contact_wrap > div.contact_txt > p > span{ line-height: 50px; font-size: 25px;transform: translateZ(30px);}
div.contact_popup > div.contact_wrap > div.contact_txt > ul{transform: translateZ(80px); float: left;}
div.contact_popup > div.contact_wrap > div.contact_txt > ul.tool{margin-right: 30px;transform: translateZ(60px);}
div.contact_popup > div.contact_wrap > div.contact_txt > ul > li{margin-bottom: 10px;}
div.contact_popup > div.contact_wrap > div.contact_txt > ul > li > a{color: #000; text-decoration: none;}

.floating{transform-style: preserve-3d;transform-origin: 50% 50%;}



/* Top Btn */
div.topBtn{
    position: fixed; width: 65px; height: 65px; border: 1px solid #454545; display: flex;
    justify-content: center; align-items: center; bottom: 50px; right: 80px; z-index: 99;
    border-radius: 50%; font-size: 16px; opacity: 0; pointer-events: none; transition: 800ms;
}
div.topBtnActive{ opacity: 1; pointer-events: all; cursor: pointer;}
div.topBtn:hover{background-color: #454545; color: #fdfff5;}


section.portfolio{text-align: center; position: relative;width: 1400px; margin: 0 auto;}
section.portfolio > div.title{margin-left: -24px; font-size: 300px; font-weight: 700; color: #4c4c4c; margin-top: 200px; position: fixed; z-index: -1; font-family: "Noto Sans KR Cormorant Garamond";}
section.portfolio > div.subway_title{margin-left: -13px;}
section.portfolio > div.theeye_title{margin-left: -8px;}

  /* Scroll */
.scrollAni{opacity: 0; transition: 1200ms;}

footer{margin: 300px 0 350px; text-align: center; position: relative; display: flex; justify-content: center; align-items: center;}
footer > img{
    position: absolute; z-index: -2; transition: 400ms; width: 960px; height: 540px;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); 
}
footer > img.hover{animation: hoverNext 500ms forwards cubic-bezier(.8,.12,.43,.77);}
footer > img.leave{animation: leaveNext 500ms forwards cubic-bezier(.8,.12,.43,.77);}
@keyframes hoverNext{
    0%{clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); opacity: 0;}
    100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); opacity: 1;}
}
@keyframes leaveNext{
    0%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); opacity: 1;}
    100%{clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); opacity: 0;}
}
footer > a{color: #000; text-decoration: none; font-size: 200px;font-weight: 100;}