
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

header{position: fixed; z-index: 9999; top: 50px; width: 100%; }
header > a.logo{ font-size: 30px; margin-left: 60px; display: inline-block; color: #000 ; text-decoration: none; overflow: hidden; vertical-align: top; font-family: "Cormorant Garamond";}
header > nav.nav{float: right; margin-right: 80px;}
header > nav.nav > div.nav_bar{width: 35px; height: 29px; overflow: hidden; float: right;}
header > nav.nav > div.nav_bar > span{width: 100%; height: 3px; background-color: black; display:block; transition: 500ms;}
header > nav.nav > div.nav_bar > span.nav_bar_1{}
header > nav.nav > div.nav_bar > span.nav_bar_2{margin: 10px 0;}
header > nav.nav > div.nav_bar > span.nav_bar_3{width: 50%; float: right;}

header > nav > div.menu{text-align: right; margin-top: 60px; transition: 800ms; opacity: 0; pointer-events: none;}
header > nav > div.active{opacity: 1; pointer-events: all;}
header > nav > div.menu > ul{}
header > nav > div.menu > ul > li{margin-bottom: 20px;}
header > nav > div.menu > ul > li > a{color: #000; text-decoration: none; font-weight: 500; font-size: 20px;}


div.contact_popup{opacity: 0; pointer-events: none;}
div.contact_popup > div.contact_bg{
    position: fixed; width: 100%; height: 100%; background-color: #000;opacity: 0.7; z-index: 2;
}
div.contact_popup > div.contact_wrap{
    width: 500px; height: 500px; background-color: #fff; border-radius: 25px;
    z-index: 3; position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%); 
}
div.contact_popup > div.contact_wrap > div.closeContact{width: 40px; height: 40px;float: right; margin: 25px 25px 0 0; position: relative;}
div.contact_popup > div.contact_wrap > div.closeContact > span{display: block; background-color: black; width: 100%; height: 2px; border-radius: 1px; position: absolute; top: 25px;}
div.contact_popup > div.contact_wrap > div.closeContact > span:first-child{transform: rotate(45deg);}
div.contact_popup > div.contact_wrap > div.closeContact > span:last-child{transform: rotate(-45deg);}
div.contact_popup > div.contact_wrap > p{font-size: 20px; text-align: center; margin: 200px auto 0;}


/*  article greet  */
article.greet{pointer-events: none;}
article.greet > p{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 32px; 
    line-height: 60px; font-weight: 400; color: #fff; text-align: center; letter-spacing: 1px; word-spacing: -0.25;
    animation: startGreet 2s forwards linear; font-family: 'Nanum Myeongjo'; user-select: none;
}
@keyframes startGreet{
    0%{opacity: 0; margin-top: 10px;}
    100%{opacity: 1; margin-top: 0px;}
}
article.greet > div.scrollArea{position: absolute; left: 50%; transform: translateX(-50%);bottom: 20px; width: 100px; height: 100px;}
article.greet > div > span.scrollDot{
    display: block; position: absolute; width: 10px; height: 10px; background-color: #5e5e5e; left: 50%; transform: translateX(-50%);
    border-radius: 50%; animation: scrollAni 1.5s ease-in-out infinite;
}
article.greet > div > p.scrollTxt{
    position: absolute; bottom: 0; text-align: center; height: 20px; font-size: 16px; width: 100%; font-family: 'Noto Sans KR'; font-weight: 500;
}
article.greet > div#bg_3D{position: fixed; z-index: -1;}
@keyframes scrollAni{
    0%{bottom: 100px; opacity: 0;width: 5px; height: 5px;}
    100%{bottom: 50px; opacity: 1;width: 10px; height: 10px;}
}




/*  article project common  */
article.work{position: relative; height: 1080px;}
article.work > div{
    position: relative; margin: 0 auto; width: 1400px; height: 550px; top: 20%; display: flex; justify-content: space-between;}
article.work > div > div.title{position: absolute; bottom: 0;}
article.work > div > div.title > a{
    font-size: 70px; font-weight: 700; text-decoration: none; color: black; font-family: "Cormorant Garamond"; display: block;
    margin-bottom: 15px;
}
article.work > div > div.title > span{font-size: 25px; font-weight: 400; font-family:'Noto Sans KR'; text-transform: none; display: block;}
article > div > img{width: 1000px; position: absolute; right: 0;}

/* article */
article.interstellar{}
article.interstellar > a{}

article.dream{}
article.dream > div.title{}
article.dream > div > div.title{right: 0;}
article.dream > div > img{left: 0;}

article.subway{}
article.subway > div.title{}