
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
 

header, article{opacity: 0; animation: opaAni 1200ms linear forwards;}
@keyframes opaAni{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


/* -- Header -- */
header{position: fixed; z-index: 9999; top: 50px; width: 100%; }
header > a.logo{ font-size: 30px; margin-left: 60px; display: inline-block; color: #fff ; text-decoration: none; overflow: hidden; vertical-align: top; font-family: "Cormorant Garamond";}
header > nav.nav{float: right; margin-right: 80px; ;}
header > nav.nav > div.nav_bar{width: 35px; height: 29px; overflow: hidden; float: right; cursor: pointer;}
header > nav.nav > div.nav_bar > span{width: 100%; height: 3px; background-color: #fff; display:block; transition: 500ms;}
header > nav.nav > div.nav_bar > span.nav_bar_1{}
header > nav.nav > div.nav_bar > span.nav_bar_2{margin: 10px 0;}
header > nav.nav > div.nav_bar > span.nav_bar_3{width: 50%; float: right;}

header > nav > div.menu{text-align: right; margin-top: 60px; transition: 800ms; opacity: 0; pointer-events: none;}
header > nav > div.active{opacity: 1; pointer-events: all;}
header > nav > div.menu > ul{}
header > nav > div.menu > ul > li{margin-bottom: 20px; position: relative; height: 20px; width:70px;}
header > nav > div.menu > ul > li > a{
    position: absolute; right: 0; 
    color: #fff; text-decoration: none; font-weight: 500; font-size: 20px; transition: 500ms; transform-origin: 50% 0; transform-style: preserve-3d;
}
header > nav > div.menu > ul > li > a::after{
    position: absolute; content: attr(data-txt); color: #000; border-radius: 5px;transform: rotateX(-90deg);width: 100%; height: 100%; padding: 5px;
    transform-origin: 50% 0; top: 100%; right: 0; display: flex; justify-content: center; align-items: center; background-color: #fff;
}
header > nav > div.menu > ul > li > a:hover{transform: rotateX(90deg)}



/* -- Contact Popup --  */
div.contact_popup{opacity: 0; pointer-events: none; transition: 500ms; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; position: fixed; z-index: 5;}
div.contact_popup > div.contact_bg{position: fixed; width: 100%; height: 100%; background-color: #000;opacity: 0.95; z-index: 6;
}
div.contact_popup > div.contact_wrap{
    width: 500px; height: 300px; background-color: #fff; border-radius: 15px;
    z-index: 7; position: fixed; 
    box-shadow:0 0 40px #929292,0 0 40px #929292 ;
}
div.contact_popup > div.contact_wrap > div.logo{float: right; margin: 50px 50px 0 0; transform: translateZ(60px); font-size: 30px; font-family: "Cormorant Garamond";}
div.contact_popup > div.contact_wrap > div.contact_txt{
    display: inline-block; position: absolute; bottom: 50px; left: 50px; font-size: 16px;
}
div.contact_popup > div.contact_wrap > div.contact_txt > p{ line-height: 25px; margin-bottom: 60px; transform: translateZ(80px);}
div.contact_popup > div.contact_wrap > div.contact_txt > p > span{ line-height: 50px; font-size: 25px;transform: translateZ(30px);}
div.contact_popup > div.contact_wrap > div.contact_txt > ul{transform: translateZ(80px); float: left;}
div.contact_popup > div.contact_wrap > div.contact_txt > ul.tool{margin-right: 30px;}
div.contact_popup > div.contact_wrap > div.contact_txt > ul > li{margin-bottom: 10px;}
div.contact_popup > div.contact_wrap > div.contact_txt > ul > li > a{color: #000; text-decoration: none;}

.floating{    
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
}


.scrollAni{opacity: 0; transition: 1200ms;}
body{overflow-x: hidden; }

div#bg_3D{position: fixed; animation: changeBg 2s forwards linear; animation-delay: 500ms; background-color: #000;}



/*  article greet  */
article.greet{pointer-events: none; height: 1080px;}
article.greet > p{
    position: absolute; top: 72%; left: 50%; transform: translate(-50%, -50%); font-size: 32px;  opacity: 0;
    line-height: 60px; font-weight: 400; color: #fff; letter-spacing: 1px; word-spacing: -0.25; 
    animation: startGreet 2s forwards linear; font-family: 'Nanum Myeongjo'; user-select: none; animation-delay: 1s;
    /* text-align: center; */
    display: flex; flex-direction: column; align-items: center;
}
@keyframes startGreet{
    0%{opacity: 0; margin-top: 15px;}
    100%{opacity: 1; margin-top: 0px;}
}

article.greet > div.scrollArea{position: absolute; left: 50%; transform: translateX(-50%);bottom: 20px; width: 100px; height: 100px;}
article.greet > div > span.scrollDot{
    display: block; position: absolute; width: 10px; height: 10px; background-color: #fff; left: 50%; transform: translateX(-50%);
    border-radius: 50%; animation: scrollAni 1.5s ease-in-out infinite;
}
article.greet > div > p.scrollTxt{
    position: absolute; bottom: 0; text-align: center; height: 20px; font-size: 16px; width: 100%; font-family: 'Noto Sans KR'; font-weight: 500; color: #fff;
}
@keyframes scrollAni{
    0%{bottom: 100px; opacity: 0;width: 5px; height: 5px;}
    100%{bottom: 50px; opacity: 1;width: 10px; height: 10px;}
}

span.blank{width: 16px;height: 16px; display: inline-block; float: left;}
span.up{ display: inline-block; float: left; animation: goUp 1s forwards ease-in-out; opacity: 0; transition: 800ms;animation-delay: 300ms;}
span.down{ display: inline-block;float: left; animation: goDown 1s forwards ease-in-out; opacity: 0; transition: 800ms;animation-delay: 300ms;}
@keyframes goUp{
    0%{transform: translateY(-15px);}
    100%{transform: translateY(0px); opacity: 1;}
}
@keyframes goDown{
    0%{transform: translateY(40px);}
    100%{transform: translateY(0px); opacity: 1;}
}


/*  article project common  */
article.work{position: relative; height: 900px;}
article.work > div{
    position: relative; margin: 0 auto; width: 1400px; height: 550px; top: 20%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
article.work > div > div.title{}
article.work > div > div.title > p{
    color: #fff; font-size: 25px;line-height: 35px; margin-top: 80px; text-align: center;
}
article > div > a > img{width: 1000px; box-shadow: 0 0  30px #e3e3e3, 0 0 30px #e3e3e3; border: 5px solid #fff;}

article.last{margin-bottom: 150px;}




