body{background-color: #e5e3dd;}



div.intro_wrap{
    width: 100%; height: 100%;position: fixed;background-color: #e5e3dd; z-index: 99999;pointer-events: none; color: #454545;
    display: flex; justify-content: center; align-items: center; font-size: 30px; animation: intro 1s forwards linear; animation-delay: 3s;
}
@keyframes intro{
    0%{opacity: 1;}
    100%{opacity: 0; display: none;}
}
div.intro_wrap > p.first_intro{position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%); animation: intro_one 1s forwards linear; margin-top: -30px;}
@keyframes intro_one{
    0%{ filter: blur(3px);}
    100%{ filter: blur(0px);}
}
div.intro_wrap > p.second_intro{position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%); animation: intro_two 2s forwards linear; margin-top: 20px;}
@keyframes intro_two{
    0%{ filter: blur(3px);}
    100%{ filter: blur(0px);}
}






/*  article greet  */
article.greet{height: 1080px;}
article.greet > div.object{font-family: 'Noto Sans KR'; color: #454545; font-size: 16px; position: absolute; top: 40px; left: 50%; transform: translateX(-50%); text-align: center; display: inline-block; padding: 15px;}
article.greet > div.object > span{position: relative; cursor: default;}
article.greet > div.object > span::after{content: ""; position: absolute; width: 0; height: 1px; background-color: #454545; left: 0; bottom: -1px; transition: 300ms;}
article.greet > div.object > p{background-color: #ffffff87; pointer-events: none; border-radius: 5px; padding: 10px; margin-top: 20px; line-height: 25px; opacity: 0; transition: 300ms;}
article.greet > div.object > span:hover::after{width: 100%;}
article.greet > div.object > span.active::after{width: 100%;}
article.greet > div.object > span:hover + p {opacity: 1;}

article.greet > p{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 32px; 
    line-height: 60px; font-weight: 400; color: #fff; text-align: center; letter-spacing: 1px; word-spacing: -0.25;
    animation: startGreet 2s forwards linear; font-family: 'Nanum Myeongjo'; user-select: none;
}
@keyframes startGreet{
    0%{opacity: 0; margin-top: 10px;}
    100%{opacity: 1; margin-top: 0px;}
}
article.greet > div.scrollArea{position: absolute; left: 50%; transform: translateX(-50%);bottom: 20px; width: 100px; height: 100px;}
article.greet > div > span.scrollDot{
    display: block; position: absolute; width: 10px; height: 10px; background-color: #5e5e5e; left: 50%; transform: translateX(-50%);
    border-radius: 50%; animation: scrollAni 1.5s ease-in-out infinite;
}
article.greet > div > p.scrollTxt{
    position: absolute; bottom: 0; text-align: center; height: 20px; font-size: 16px; width: 100%; font-family: 'Noto Sans KR'; font-weight: 500; color: #454545;
}


article.greet > div#bg_3D{position: fixed; z-index: -3;}
@keyframes scrollAni{
    0%{bottom: 100px; opacity: 0;width: 5px; height: 5px;}
    100%{bottom: 50px; opacity: 1;width: 10px; height: 10px;}
}


/*  article project common  */
article.work{position: relative; height: 900px;}
article.work > div{
    position: relative; margin: 0 auto; width: 1400px; height: 550px; top: 20%; display: flex; justify-content: space-between; align-items: flex-end;}
article.work > div > div.title{position: relative; bottom: 0;}
article.work > div > div.title > a{
    font-size: 70px; font-weight: 700; text-decoration: none; color: black; font-family: "Cormorant Garamond"; display: block;
    margin-bottom: 15px; 
}
article.work > div > div.title > span{font-size: 25px; font-weight: 400; font-family:'Noto Sans KR'; text-transform: none; display: block; text-align: right;}
article > div > a{overflow: hidden; display: inline-block; position: relative;}
article > div > a > span{
    color: #fff; text-decoration: none; border-bottom: 1px solid #fff; padding: 10px; 
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 99; transition: 600ms;
    opacity: 0;
}
article > div > a > img{width: 1000px; position: relative; transition: 800ms;}
article > div > a:hover > img{filter:blur(2px); transform: scale(1.1);}
article > div > a:hover > span{opacity: 1;}



/* article */
article.theeye{}
article.theeye > div.wrap{}
article.theeye > div > div.title{}
article.theeye > div > a{}
article.theeye > div > a >img{}

article.secret{}
article.secret > div.wrap{flex-direction: row-reverse;}
article.secret > div > div.title{text-align: left;}
article.secret > div > a >img{left: 0;}


article.dream{}
article.dream > div.wrap{flex-direction: row-reverse;}
article.dream > div > div.title{text-align: left;}
article.dream > div > a >img{}
article.dream > div > a > span{color: #000; border-bottom:1px solid #000;}


article.interstellar{}
article.interstellar > a{}

article.subway{}
article.subway > div.wrap{}



/* 481px ~ 1480px */
@media all and (min-width: 481px) and (max-width: 1480px) {
    article.secret > div.wrap{flex-direction: column;}
    article.secret > div > div.title{text-align: center;}
    article.dream > div.wrap{flex-direction: column;}
    article.dream > div > div.title{text-align: center;}

    article.work{height: 900px;}
    article.work > div{width: 100%; display: flex; flex-direction:column; align-items: center;text-align: center;}
    article.work > div > div.title{position: relative; bottom: 0; text-align: center;}
    article.work > div > div.title > a{display: block;margin:30px 0 15px;}
    article.work > div > div.title > span{display: block;  text-align: center;}
    article > div > a{width: 80%; overflow: visible;}
    article > div > a > img{width: 100%; position: relative; transition: 800ms;}
    article > div > a:hover > img{filter:blur(0px); transform: scale(1);}
    article > div > a:hover > span{opacity: 0;}
}
@media all and (min-width: 481px) and (max-width: 1480px) and (any-pointer:coarse) {
    article.greet > div.object > span:hover::after{width: 0;}
    article.greet > div.object > span:hover + p {opacity: 0;}
    article.greet > div.object > span.active::after{width: 100%;}
}



@media all and (max-width : 480px){
    div.intro_wrap{font-size: 20px;}
    article.greet > div.object{opacity: 0; display: none; pointer-events: none;}
  

    article.secret > div.wrap{flex-direction: column;}
    article.secret > div > div.title{text-align: center;}
    article.dream > div.wrap{flex-direction: column;}
    article.dream > div > div.title{text-align: center;}
    
    article.work{height: 250px; margin-bottom: 50px;}
    article.work > div{ height: 100%; width: 100%; top: 0; display: flex; flex-direction:column; align-items: center;text-align: center; }
    article.work > div > div.title{position: relative; text-align: center;}
    article.work > div > div.title > a{display: block;margin:0 0 15px; font-size: 30px;}
    article.work > div > div.title > span{display: block; font-size: 16px;  text-align: center;}
    article > div > a{width: 80%;}
    article > div > a > img{width: 100%; position: relative; transition: 800ms;}

    article > div > a:hover > img{filter:blur(0px); transform: scale(1);}
    article > div > a:hover > span{opacity: 0;}
}
