
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');



header{position: fixed; z-index: 9999; top: 50px; width: 100%; }
header > a.logo{ font-size: 30px; margin-left: 60px; display: inline-block; color: #000 ; text-decoration: none; overflow: hidden; vertical-align: top; font-family: "Cormorant Garamond";}
header > nav.nav{float: right; margin-right: 80px;}
header > nav.nav > div.nav_bar{width: 35px; height: 29px; overflow: hidden;}
header > nav.nav > div.nav_bar > span{width: 100%; height: 3px; background-color: black; display:block; transition: 500ms;}
header > nav.nav > div.nav_bar > span.nav_bar_1{}
header > nav.nav > div.nav_bar > span.nav_bar_2{margin: 10px 0;}
header > nav.nav > div.nav_bar > span.nav_bar_3{width: 50%; float: right;}



section{width: 100%; height: 100%; top: 0;}
section > div.title{font-size: 300px; font-weight: 700; color: #4c4c4c; margin: 200px 0 0 180px; position: fixed; z-index: -1; font-family: "Noto Sans KR Cormorant Garamond";}


section > article{text-align: center; position: relative;width: 1400px; margin: 0 auto;}
section > article > img.mainImg{width: 1400px; padding-top: 500px;}
section > article > div.sticky_wrap{ margin-top: 50px;}
section > article > div > div.sticky_Title{position: sticky; font-size: 30px; top: 50px; font-family: "Cormorant Garamond";}
section > article > div > div.txtwrap{ margin: 50px 0 90px;}
section > article > div > div > ul{margin: 90px auto 90px;height: 65px;}
section > article > div > div > ul > li{font-size: 20px; line-height: 35px; font-weight: 300; text-align: left;font-family: 'Noto Sans KR';}
section > article > div > div > ul > li > span{font-weight: 600; font-family: "Cormorant Garamond";}
section > article > div > div > ul > li:first-child{float: left;}
section > article > div > div > ul > li:last-child{float: right;}
section > article > div > div > p.explain{text-align: left; font-weight: 400; font-size: 23px; line-height: 40px;}
section > article > div > div > a{text-align: left; font-weight: 400; font-size: 23px; color: #000; float: left; margin: 40px 0 80px;}
section > article > div > img.subImg{width: 1400px;}

footer{margin: 300px 0 350px; text-align: center;}
footer > a{color: #000; text-decoration: none; font-size: 200px; font-weight: 100;}